includes:
	- vendor/phpstan/phpstan-mockery/extension.neon
parameters:
	ignoreErrors:
		- "#^Call to an undefined method(.*)NodeDefinition\\:\\:children\\(\\)\\.$#"
		- "#^(.*)RegisterEventListenerCompilerPass\\:\\:process\\(\\) has no return typehint specified.$#"
		- "#^(.*)TaskBundle\\:\\:build\\(\\) has no return typehint specified.$#"
